<div class="sidebar" data-color="purple" data-image="@Url.Content("~/Areas/Admin/assets/img/sidebar-1.jpg")">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a href="#" class="simple-text">
            Administration
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active">
                <a href="dashboard.html">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="user.html">
                    <i class="material-icons">person</i>
                    <p>Khách hàng</p>
                </a>
            </li>
            <li>
                <a href="table.html">
                    <i class="material-icons">content_paste</i>
                    <p>Hóa đơn</p>
                </a>
            </li>
            <li>
                <a href="typography.html">
                    <i class="material-icons">library_books</i>
                    <p>Sản phẩm</p>
                </a>
            </li>
            <li>
                <a href="icons.html">
                    <i class="material-icons">bubble_chart</i>
                    <p>Thống kê</p>
                </a>
            </li>
            <li>
                <a href="maps.html">
                    <i class="material-icons">settings</i>
                    <p>Cài đặt</p>
                </a>
            </li>
            <li>
                <a href="notifications.html">
                    <i class="material-icons text-gray">power_settings_new</i>
                    <p>Đăng xuất</p>
                </a>
            </li>
        </ul>
    </div>
</div>

