@using Model.Model
@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_Slide")
<div class="lg-margin"></div><!-- Space -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row home-banners">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#"><img src="~/Upload/images/middle-banner-1.png" alt="Home Big Banner 1" class="img-responsive"></a>
                </div><!-- End .col-md-4 -->

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#"><img src="~/Upload/images/middle-banner-2.png" alt="Home Big Banner 2" class="img-responsive"></a>
                </div><!-- End .col-md-4 -->

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#"><img src="~/Upload/images/middle-banner-3.png" alt="Home Big Banner 2" class="img-responsive"></a>
                </div><!-- End .col-md-4 -->
            </div><!-- End .home-banners -->

            <div class="lg-margin"></div><!-- Space -->
            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12 main-content">
                    @Html.Action("_Lastest","Home",null)
                    <div class="lg-margin"></div><!-- Space -->
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <header class="content-title">
                                <h2 class="title">Chào mừng đến với Tshop</h2>
                            </header>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Venedor is a fully responsive Magento theme with advanced admin module. Based on Bootstrap’s 12 column 1200px responsive grid Theme. Great looks on desktops, tablets and mobiles.  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Venedor is extremely customizable, easy to use and fully responsive. Suitable for every type of store. Great as a starting point for your custom projects. This theme includes several extensions including ajax price slider that will help you improve your sales. We supply a full help with our products and after purchase support to all our customers. <a href="#">Buy Venedor Theme!</a></p>
                        </div><!-- End .col-md-7 -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="sm-margin visible-xs"></div><!-- space -->
                            <img src="~/Upload/images/showcase.png" alt="Showcase Venedor" class="img-responsive">
                        </div><!-- End .col-md-5 -->
                    </div><!-- End .row -->
                    <div class="xlg-margin"></div><!-- Space -->
                    @Html.Action("_OnSale","Home",null)

                </div><!-- End .col-md-12 -->

            </div><!-- End .row -->

            @Html.Action("_Brand","Home",null)

        </div><!-- End .col-md-12 -->
    </div><!-- End .row -->
</div><!-- End .container -->