<div class="hot-items carousel-wrapper">
    <header class="content-title">
        <div class="title-bg">
            <h2 class="title">Giảm giá</h2>
        </div><!-- End .title-bg -->
        <p class="title-desc">Only with us you can get a new model with a discount.</p>
    </header>

    <div class="carousel-controls">
        <div id="hot-items-slider-prev" class="carousel-btn carousel-btn-prev">
        </div><!-- End .carousel-prev -->
        <div id="hot-items-slider-next" class="carousel-btn carousel-btn-next carousel-space">
        </div><!-- End .carousel-next -->
    </div><!-- End .carousel-controls -->
    <div class="hot-items-slider owl-carousel">
        <div class="item">

            <div class="item-image-container">
                <figure>
                    <a href="product.html">
                        <img src="~/Upload/images/products/item3.jpg" alt="item3" class="item-image">
                        <img src="~/Upload/images/products/item3-hover.jpg" alt="item3 Hover" class="item-image-hover">
                    </a>
                </figure>
                <div class="item-price-container">
                    <span class="item-price">$160<span class="sub-price">.99</span></span>
                </div>
                <span class="new-rect">New</span>
                <span class="discount-rect">-10%</span>
            </div><!-- End .item-image -->
            <div class="item-meta-container">
                <div class="ratings-container">
                    <div class="ratings">
                        <div class="ratings-result" data-result="95"></div>
                    </div><!-- End .ratings -->
                    <span class="ratings-amount">
                        1 Reviews
                    </span>
                </div><!-- End .rating-container -->
                <h3 class="item-name"><a href="product.html">Lorem Ipsum Dolla</a></h3>
                <div class="item-action">
                    <a href="#" class="item-add-btn">
                        <span class="icon-cart-text">Add to Cart</span>
                    </a>
                    <div class="item-action-inner">
                        <a href="#" class="icon-button icon-like">Favourite</a>
                        <a href="#" class="icon-button icon-compare">Checkout</a>
                    </div><!-- End .item-action-inner -->
                </div><!-- End .item-action -->
            </div><!-- End .item-meta-container -->
        </div><!-- End .item -->

        <div class="item">

            <div class="item-image-container">
                <figure>
                    <a href="product.html">
                        <img src="~/Upload/images/products/phone3.jpg" alt="Phone 3" class="item-image">
                        <img src="~/Upload/images/products/phone3-hover.jpg" alt="Phone 3 Hover" class="item-image-hover">
                    </a>
                </figure>
                <div class="item-price-container">
                    <span class="item-price">$99<span class="sub-price">.75</span></span>
                </div>
            </div><!-- End .item-image -->
            <div class="item-meta-container">
                <div class="ratings-container">

                </div><!-- End .rating-container -->
                <h3 class="item-name"><a href="product.html">Lorem Ipsum Dolla</a></h3>
                <div class="item-action">
                    <a href="#" class="item-add-btn">
                        <span class="icon-cart-text">Add to Cart</span>
                    </a>
                    <div class="item-action-inner">
                        <a href="#" class="icon-button icon-like">Favourite</a>
                        <a href="#" class="icon-button icon-compare">Checkout</a>
                    </div><!-- End .item-action-inner -->
                </div><!-- End .item-action -->
            </div><!-- End .item-meta-container -->
        </div><!-- End .item -->
        <div class="item">

            <div class="item-image-container">
                <figure>
                    <a href="product.html">
                        <img src="~/Upload/images/products/headphones1.jpg" alt="Headphones 1" class="item-image">
                        <img src="~/Upload/images/products/headphones1-hover.jpg" alt="Headphones 1 Hover" class="item-image-hover">
                    </a>
                </figure>
                <div class="item-price-container">
                    <span class="item-price">$79<span class="sub-price">.99</span></span>
                </div>
                <span class="new-rect">New</span>
            </div><!-- End .item-image -->
            <div class="item-meta-container">
                <div class="ratings-container">

                </div><!-- End .rating-container -->
                <h3 class="item-name"><a href="product.html">Lorem Ipsum Dolla</a></h3>
                <div class="item-action">
                    <a href="#" class="item-add-btn">
                        <span class="icon-cart-text">Add to Cart</span>
                    </a>
                    <div class="item-action-inner">
                        <a href="#" class="icon-button icon-like">Favourite</a>
                        <a href="#" class="icon-button icon-compare">Checkout</a>
                    </div><!-- End .item-action-inner -->
                </div><!-- End .item-action -->
            </div><!-- End .item-meta-container -->
        </div><!-- End .item -->

        <div class="item">

            <div class="item-image-container">
                <figure>
                    <a href="product.html">
                        <img src="~/Upload/images/products/phone3.jpg" alt="item3" class="item-image">
                        <img src="~/Upload/images/products/phone3-hover.jpg" alt="item3 Hover" class="item-image-hover">
                    </a>
                </figure>
                <div class="item-price-container">
                    <span class="old-price">$100</span>
                    <span class="item-price">$75</span>
                </div>
                <span class="new-rect">New</span>
                <span class="discount-rect">-25%</span>
            </div><!-- End .item-image -->
            <div class="item-meta-container">
                <div class="ratings-container">
                    <div class="ratings">
                        <div class="ratings-result" data-result="90"></div>
                    </div><!-- End .ratings -->
                    <span class="ratings-amount">
                        3 Reviews
                    </span>
                </div><!-- End .rating-container -->
                <h3 class="item-name"><a href="product.html">Lorem Ipsum Dolla</a></h3>
                <div class="item-action">
                    <a href="#" class="item-add-btn">
                        <span class="icon-cart-text">Add to Cart</span>
                    </a>
                    <div class="item-action-inner">
                        <a href="#" class="icon-button icon-like">Favourite</a>
                        <a href="#" class="icon-button icon-compare">Checkout</a>
                    </div><!-- End .item-action-inner -->
                </div><!-- End .item-action -->
            </div><!-- End .item-meta-container -->
        </div><!-- End .item -->

        <div class="item">

            <div class="item-image-container">
                <figure>
                    <a href="product.html">
                        <img src="~/Upload/images/products/phone4.jpg" alt="item3" class="item-image">
                        <img src="~/Upload/images/products/phone4-hover.jpg" alt="item3 Hover" class="item-image-hover">
                    </a>
                </figure>
                <div class="item-price-container">
                    <span class="item-price">$180<span class="sub-price">.99</span></span>
                </div>
                <span class="new-rect">New</span>
            </div><!-- End .item-image -->
            <div class="item-meta-container">
                <div class="ratings-container">
                    <div class="ratings">
                        <div class="ratings-result" data-result="95"></div>
                    </div><!-- End .ratings -->
                    <span class="ratings-amount">
                        2 Reviews
                    </span>
                </div><!-- End .rating-container -->
                <h3 class="item-name"><a href="product.html">Lorem Ipsum Dolla</a></h3>
                <div class="item-action">
                    <a href="#" class="item-add-btn">
                        <span class="icon-cart-text">Add to Cart</span>
                    </a>
                    <div class="item-action-inner">
                        <a href="#" class="icon-button icon-like">Favourite</a>
                        <a href="#" class="icon-button icon-compare">Checkout</a>
                    </div><!-- End .item-action-inner -->
                </div><!-- End .item-action -->
            </div><!-- End .item-meta-container -->
        </div><!-- End .item -->
        <div class="item">

            <div class="item-image-container">
                <figure>
                    <a href="product.html">
                        <img src="~/Upload/images/products/phone5.jpg" alt="item3" class="item-image">
                        <img src="~/Upload/images/products/phone5-hover.jpg" alt="item3 Hover" class="item-image-hover">
                    </a>
                </figure>
                <div class="item-price-container">
                    <span class="item-price">$210<span class="sub-price">.99</span></span>
                </div>
                <span class="new-rect">New</span>
            </div><!-- End .item-image -->
            <div class="item-meta-container">
                <div class="ratings-container">
                    <div class="ratings">
                        <div class="ratings-result" data-result="65"></div>
                    </div><!-- End .ratings -->
                    <span class="ratings-amount">
                        2 Reviews
                    </span>
                </div><!-- End .rating-container -->
                <h3 class="item-name"><a href="product.html">Lorem Ipsum Dolla</a></h3>
                <div class="item-action">
                    <a href="#" class="item-add-btn">
                        <span class="icon-cart-text">Add to Cart</span>
                    </a>
                    <div class="item-action-inner">
                        <a href="#" class="icon-button icon-like">Favourite</a>
                        <a href="#" class="icon-button icon-compare">Checkout</a>
                    </div><!-- End .item-action-inner -->
                </div><!-- End .item-action -->
            </div><!-- End .item-meta-container -->
        </div><!-- End .item -->

    </div><!--hot-items-slider -->
    <div class="lg-margin"></div><!-- Space -->
</div><!-- End .hot-items -->
